.list-group-item.active a {
  color: white;
  text-decoration-line: none;
}
.list-group-item a {
  color: black;
  text-decoration-line: none;
}
.badge:hover {
  color: #fff;
}


.list-group-item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 0px solid rgba(0,0,0,.125); 
}